@model Fantasy.Models.user
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.firstName)
                @Html.TextBoxFor(m => m.firstName)
            </li>
            <li>
                @Html.LabelFor(m => m.lastName)
                @Html.TextBoxFor(m => m.lastName)
            </li>
            <li>
                @Html.LabelFor(m => m.dateOfBirth)
                @Html.TextBoxFor(m => m.dateOfBirth)
            </li>
            <li>
                @Html.LabelFor(m => m.gender)
                <select id="gender"><option>M</option><option>F</option></select>
            </li>
            <li>
                @Html.LabelFor(m=>m.cellPhone)
                @Html.TextBoxFor(m => m.cellPhone)
            </li>
            <li>
                @Html.LabelFor(m=>m.email)
                @Html.TextBoxFor(m => m.email)
           </li>
          
             <li>
                @Html.LabelFor(m=>m.password)
                @Html.TextBoxFor(m => m.password)
           </li>
            <li>
                @Html.LabelFor(m=>m.country)
                @Html.TextBoxFor(m => m.country)
           </li>
               <li>
                @Html.LabelFor(m=>m.closestCity)
                @Html.TextBoxFor(m => m.closestCity)
           </li>
            
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
